// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;



$barelythere: #fffafa;
$flamingopink: #FFC2CC;
$heartred: #FF000A;
$bloodred: #E22D06;
$darkerred: #b31c0b;
$royalblood: #4A0000;
$lightpink: #ffe7eb;
$backgroundpink: #FFE7EB;
