.containerexplanation {
  margin-top: 3.5rem;
  margin-bottom: 5rem;
}

.explanationcards {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 75%;
}

.menuButton {
  margin-top: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  row-gap: 8px;
  padding: 5px;

  span {
    height: 12px;
    border-radius: 25px;
    width: 58px;
    background-color: $heartred;
  }
}

.menu-items {
  list-style-type: none;
  margin-top: 6rem;
  margin-right: -3.5rem;
  width: fit-content;
  opacity: 0;
  transition: opacity .5s ease;
  &.active {
    opacity: 1;
  }
  li {
    font-size: 4rem;
    font-weight: 500;
    font-style: italic;
    font-family: "Open Sans", sans-serif;
    color: $heartred;
    margin-bottom: -30px;
    padding-left: 57px;
  }
}

.text-container {
  margin-left: 5rem;
}
.realign  {
  margin-top: -2rem;
  margin-left: -5rem;
  margin-right: -5rem;
  background:#FFE7EB;
}


// ids


#explanation{
  text-align: center;
}

#explanation-text-mine {
  color: $communitypink;
  font-family: "Open Sans", sans-serif;
  font-weight: 590;
  font-size: 5rem;
  text-decoration: none !important;
}


#explanation-text1 {
  color: $communitypink;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  padding-bottom: 20px;
  padding-top: -10px;
  text-align: center;
}


#fullpage {
  position: relative;
  background-color: #FFE7EB;
  max-width: 100%;
  height: 50rem;
}

#getin {
  h1 {
    margin-top: 30px;
    margin-bottom: 20px !important;
  }
  .h1-large {
    color: $heartred;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 4rem;
    margin-top: 10px;
  }
}

#herotext {
  color: #FF000A;
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  margin-top: -2.5rem;
  margin-left: 5rem;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 6rem;
}

#home-container {
  margin-bottom: 5rem;
  margin-left: -3rem;
  img {
    max-width: 100%;
  }
}

#who {
  margin-bottom: 5rem;
}

// .landing-emoji {
//   float: right;
//   padding-right: 200px;
// }

.flex-container {
  display: flex;
  justify-content: space-between;
}
