

.containerexplanation {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.realign  {
  margin-top: -5rem;
  margin-left: -5rem;
}
#fullpage {
  position: relative;
  background-color: #f0afba;
  max-width: 100%;

}

.explanationcards {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
}

.menuButton {
  margin-top: 10px;
  position: absolute;
  right: 40px;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  row-gap: 8px;
  padding: 5px;

  span {
    height: 12px;
    border-radius: 25px;
    width: 58px;
    background-color: $heartred;
  }
}

.menu-items {
  list-style-type: none;
  margin-bottom: -50px;
  padding-left: 24px;
  width: fit-content;
  opacity: 0;
  transition: opacity .5s ease;
  &.active {
    opacity: 1;
  }
  li {
    font-size: 90px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 5px;
    font-family: "Open Sans", sans-serif;
    color: $heartred;
    margin-bottom: -30px;
    padding-left: 57px;
  }
}


// id

.menuButton {
  margin-top: 10px;
  position: absolute;
  right: 90px;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  row-gap: 8px;
  padding: 5px;
}

#fullpage {
  position: relative;
  background-color: #f0afba;
}

// #firstsection {
//   background-color: #ffffff;
//   padding: auto;
//   margin-bottom: 5rem;
//   a {
//     text-decoration: none !important;
//   }
// }

#home-container {
  margin-bottom: 5rem;
  img {
    max-width: 100%;
  }
}

// "a space for anyone text"
#herotext {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px !important;
  margin-bottom: 30px !important;
  margin-top: 20px !important;
  font-style: italic;
  line-height: 1.5;
}
// get in text

#getin {
  h1 {
    margin-top: 30px;
    margin-bottom: 20px !important;
  }
  .h1-large {
    color: $heartred;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 90px !important;
    margin-top: 10px;
  }
}

#explanation{
  text-align: center;
}

#explanation-text-mine {
  color: $communitypink;
  font-family: "Open Sans", sans-serif;
  font-weight: 590;
  font-size: 130px !important;
  text-decoration: none !important;
}


#explanation-text1 {
  color: $communitypink;
  font-family: "Open Sans", sans-serif;
  font-size: 30px !important;
  padding-bottom: 20px;
  padding-top: -10px;
  text-align: center;
}

#footer {
  color: #ffffff;
  margin-top: 300px;
  text-align: center !important;
  width: 100% !important;
}

#who {
  margin-bottom: 5rem;
}
