
#fullpage {
  position: relative;
  background-color: #FFC2CC;
}
#firstsection {
  background-color: #ffffff;
  padding: auto;
  margin-bottom: 50px;
  margin-bottom: 50px;
}

.menu-items {
  list-style-type: none;
  margin-bottom: -50px;
  padding-left: 24px;
  width: fit-content;
  opacity: 0;
  transition: opacity .5s ease;
  &.active {
    opacity: 1;
  }
  li {
    font-size: 90px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 5px; /* Adjust the value as needed */
    font-family: "Open Sans", sans-serif;
    color: #FF000A;
    margin-bottom: -30px;
  }

}

.menuButton {
  margin-top: 10px;
  position: absolute;
  right: 40px;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  row-gap: 8px;
  padding: 5px;

  span {
    height: 12px;
    border-radius: 25px;
    width: 58px;
    background-color: #FF000A;
  }
}

// logo image
#home-container {
  img {
    max-width: 100%;
  }
}

// "a space for anyone text"
#herotext {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px !important;
  margin-bottom: 30px !important;
  margin-top: 20px !important;
  font-style: italic;
  line-height: 1.5;
}
// get in text
.h1-large {
  color: #FF000A;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 90px !important;
  margin-top: 10px;
  margin-bottom: -40px;
}

#getin {
  margin-top: 10px;
  margin-bottom: -40px;
  h1 {
    margin-top: 30px;
    margin-bottom: 20px !important;
  }
}

#explanation {
  margin-top: 200px;
  margin-bottom: 20px;
  padding-bottom: 40px;
  text-align: center;
}

#explanation-text {
  color: #FFC2CC;
  font-family: "Open Sans", sans-serif;
  font-weight: 650;
  font-size: 130px !important;
  padding-bottom: 20px;
  padding-top: 100px !important;
}

#explanation-text1 {
  color: #FFC2CC;
  font-family: "Open Sans", sans-serif;
  font-size: 30px !important;
  padding-bottom: 20px;
  padding-top: -10px;
  text-align: center;
}

#footer {
  color: #ffffff;
  margin-top: 300px;
  text-align: center !important;
  width: 100% !important;

}
