// Import page-specific CSS files here.
@import "home";
@import "config/colors";

body {
  background-color: $barelythere;
  margin-top: 0px;
  max-width: fit-content;
}

h1 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  color: $royalblood;
}

a {
  color: $bloodred;
  text-decoration: none;

  &:hover {
    color: $heartred;
  }
}

ul {
  text-decoration: none;
}

<<<<<<< HEAD
#bigcontainer {
  margin-top: 5rem;
  margin-left: 5rem;
  width: 100%;
}

=======
>>>>>>> d3ab5b13b453b7366016c4fff850bd7c37197a17
.communitiescard {
  border-radius: 25px;

  h4 {
    font-size: 1.5rem;
  }
  p {
    color: $darkerred;
    font-size: 1.05rem;
  }

  .card-body {
    display: flex;
    align-items: flex-start;
  }

  &:hover {
  background-color: #ffedf0;
  transition-duration: 0.5s;
  border: solid $backgroundpink;
  border-width: 1px;
  box-shadow: $flamingopink 0px 0px 3px 1px;
  }
}

#bigcontainer {
  margin-right: 5rem;
  margin-left: 5rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
}
