<div class="">
  <h2>Friends</h2>

  <% unless @chatrooms.nil? %>
    <% @chatrooms.each do |chatroom| %>
      <% if chatroom.asker_id == current_user.id %>
        <% if @friend.username == User.find(chatroom.receiver_id).username %>
          <div id="chatroom-active">
            <p>
              <%= cl_image_tag(User.find(chatroom.receiver_id).photo.key, height: 30, width: 30, crop: :fill, style: "border-radius: 50%;") if @friend.photo.key.present? %>
              <%= link_to User.find(chatroom.receiver_id).username, chatroom_path(chatroom) %>
            </p>
          </div>
        <% else %>
          <div>
            <p>
              <%= cl_image_tag(User.find(chatroom.receiver_id).photo.key, height: 30, width: 30, crop: :fill, style: "border-radius: 50%;") if @friend.photo.key.present? %>
              <%= link_to User.find(chatroom.receiver_id).username, chatroom_path(chatroom) %>
            </p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
