<div class="dropdown">
  <input type="checkbox" id="dropdown">

  <label class="dropdown__face" for="dropdown">
    <div class="dropdown__text"><br></div>

    <div class="dropdown__arrow"></div>
  </label>

  <ul class="dropdown__items justify-content-center">

    <% if current_user.id == postz.user_id %>
      <li id="dropdown__list">
        <%= link_to edit_post_path, data: { turbo_method: :get, turbo_confirm: "Are you sure you want to edit?"} do %>
          Edit This Post
        <%end%>
      </li>
      <li id="dropdown__list">
        <%= link_to delete_post_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this post?"} do %>
          Delete This post
        <%end%>
      </li>
    <%else%>
      <li id="dropdown__list">
        <%= link_to flag_post_path(postz), data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to flag this post?"} do %>
          <i class="fa-solid fa-flag" style="color: #e22d06;"></i>
        <%end%>
      </li>
    <%end%>

  </ul>
</div>

<svg>
  <filter id="goo">
    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
    <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
    <feBlend in="SourceGraphic" in2="goo" />
  </filter>
</svg>
