<% if user_signed_in? %>
  <div id="footer">
    <div class="footer-container">
      <div>
        <%= link_to 'Find Others', users_path %>
        <span class="separator" style="color: red">|</span>
        <%= link_to 'All Loops', communities_path %>
        <span class="separator" style="color: red">|</span>
        <%= link_to 'My Profile', user_path(current_user.id) %>
        <span class="separator" style="color: red">|</span>
        <%= link_to 'Home', root_path %>
      </div>
    </div>
  </div>
<% else %>
  <div id="footer">
    <div class="footer-container">
      <div class="centered-text">
        <p id="copyright" style="font-size: 12px !important"; >The Loop, 2023. All Rights Reserved</p>
      </div>
    </div>
  </div>
<% end %>
