<% if user_signed_in? %>

<div id="footer">
  <footer>
    <div class="footer-container">
      <div>
        <%= link_to 'Find Others', users_path %>
        <span class="separator" style="color: red">|</span>
        <%= link_to 'Communities', communities_path %>
        <span class="separator" style="color: red">|</span>
        <%# <%= link_to 'Profile', edit_user_path %> %>
      </div>
    </div>
  </footer>
</div>


<% else %>
  <div id="footer">
    <footer>
      <div class="footer-container">
        <div class="centered-text">
          <p id="copyright" style="font-size: 12px !important"; >The Loop, 2023. All Rights Reserved</p>
        </div>
      </div>
    </footer>
  </div>
<% end %>
