<div id="footer">
    <footer>
      <div class="footer-container">
          <div class="mb-2">The Loop 2023. All Rights Reserved.</div>
              <a href="#!">Privacy</a>
              <span class="mx-1"></span>
                <a href="#!">Terms</a>
                <span class="mx-1"></span>
                <a href="#!">FAQ</a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
