
<div background-color: #FFC2CC;>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xl-8">
        <div class="text-container">
          <div class="col-sm-9 mb-8 p-12">
            <h4 class="herotoptext" id="herotext">A space for anyone impacted by cancer.<br>Speak to someone who's been in your shoes.</br></h4>
          </div>
          <div class="col-sm-9 mb-8 p-3">
            <h1 class="h1-large">Get in</h1>
          </div>
          <div>
            <a class="me-lg-3 mb-4 mb-lg-0" href="***">
          </div>
          <div>
            <img class="heroloop" src="***" alt="Main Loop hero" /></a>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xl-4">
      </div>
    </div>
  </div>
</div>

<div class="explanation">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container bg-gray">
                    <h4>InTheLoop provides access to a community who are there to listen, share information and offer valuable advice.</h4>
                </div>
            </div>
        </div>
    </div>
</div>
