
<%# #hero section %>
<div class="container-fluid vh-100" style="background-color: #FFC2CC;">
  <div class="d-flex">
    <header>
      <div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-xl-8">
              <div class="text-container">
                <div class="col-sm-9 mb-8 p-12">
                  <h4 class="herotoptext" id="herotext">A space for anyone impacted by cancer.<br>Speak to someone who's been in your shoes.</br></h4>
                </div>
                <div class="col-sm-9 mb-8 p-3">
                  <h1 class="h1-large">Get in</h1>
                </div>
                <div>
                  <a class="me-lg-3 mb-4 mb-lg-0" href="***">
                </div>
                <div>
                  <img class="heroloop" src="/app/assets/images/loops.png" alt="Main Loop hero" ></a>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-xl-4">
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>

  <%# #sub hero section %>
 <aside class="text-center bg-gradient-primary-to-secondary">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-xl-8">
        <div class="h3 fs-1 text-black mb-4">InTheLoop provides access to a community who are there to listen, share information and offer valuable advice.</div>
        <img src="assets/img/tnw-logo.svg" alt="..." style="height: 3rem" />
      </div>
    </div>
  </div>
</aside>


  <%# #footer %>
  <div class="mt-auto fixed-bottom" style="position: absolute;width: 100%;">
    <footer class="bg-pink text-center py-5">
      <div class="container px-5">
        <div class="text-white-50 small">
          <div class="mb-2">The Loop 2023. All Rights Reserved.</div>
              <a href="#!">Privacy</a>
              <span class="mx-1"></span>
                <a href="#!">Terms</a>
                <span class="mx-1"></span>
                <a href="#!">FAQ</a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
</div>
