<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body style="background-color: #FFC2CC;">
  <div style="padding: 20px; text-align: center;">
  </div>
  <div class="hero">
    <div style="position: fixed; top: 0; left: 0; height: 100vh; width: 100vw; overflow: hidden;">
      <h1 class="herotoptext" style="position: absolute; top: 20%; left: 20px; transform: translateY(-50%); font-family: 'Open Sans', sans-serif; color: #4a0000; width: 55%; font-size: 22px; font-style: italic; margin-left: 1cm;">A space for anyone impacted by cancer.<br>Speak to someone who's been in your shoes.</br></h1>
      <h1 style="position: absolute; bottom: 20px; left: 30px; font-family: 'Open Sans', sans-serif; color: #FF000A; font-weight: 600; font-style: italic; margin-left: 1cm;">Get in</h1>
      <div style="position: absolute; bottom: 0; left: 0; width: 50%; height: 100%;">
        <img src="" alt="Hero Image" style="width: 100%; height: 100%; object-fit: cover;">
      </div>
    </div>
  </div>
</body>
