.banner-container {
  color: #4A0000;
  margin-right: -5rem;
  margin-left: -5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 3rem;
  padding-top: 1rem;
  border-bottom: 0.1px solid $lightpink;
  box-shadow: 0px 2px 2px rgb(220, 220, 220);
}

.member-info {
  background-color: rgba(255, 255, 255, 0);
  border-color: #E22D06;
  color: #E22D06;

}

.join-btn {
  border-color: #4A0000;
  background-color: #E22D06;
  color: white;
    &:hover {
      background-color: #E22D06;
    }
}

#grouptitle {
  color: $bloodred;
}
