#inner-card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center !important;
}

#user-title {

  text-align: center !important;
}



#btn-user {
  color: #000000;
  background-color: $flamingopink;
  padding: 2px 25px;
  border-radius: 50px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-top: auto;
  font-size: 12px;
}

#btn-user a {
  color: #ffffff;
}

#btn-user:hover {
  background-color: $royalblood;
  transition: 0.3s;
  color: white;

}

#user-title {

  color: $heartred;
  }



#user-card {
  border-radius: 25px;
  // height: 15rem;
  // width: 8rem;
  box-shadow: $flamingopink 0px 0px 3px 1px;
  background-color: #FFE7EB;
  padding-right: 3rem;
  padding-bottom: 3rem;
  padding-top: 1rem;


  #user-title {
    text-align: center !important;

  }
  #card-status {
    color: $bloodred;
    border: #e22d06;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
  }
  #card-status-empty {
    padding: 5px;
    font-size: 12px;
    min-height: 12px;
  }

  #card-user {
    font-size: -0.5rem;
  }


  .card-body {
    display: flex;
    align-items: flex-start;
  }

  &:hover {
  background-color: #ffedf0;
  transition-duration: 0.5s;
  border: solid $backgroundpink;
  border-width: 1px;
  box-shadow: $flamingopink 0px 0px 3px 1px;
  }
  #inner-card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center !important;
  }

}
