#inner-card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center !important;
}

#user-title {

  text-align: center !important;


}

#btn-user {
  color: #000000;
  background-color: #E22D06;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-top: auto;
}

#btn-user a {
  color: #000000;
}

#btn-user:hover {
  background-color: #FF000A;
  transition: 0.3s;
}


#user-card {
  box-shadow: 0px 2px 5px rgb(220, 220, 220);
  padding: 25px;
  border-radius: 30px !important;
  background-color: #fedae0 !important;
}
