.communitygrid {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-content: space-around;
  justify-items: center;

  h4 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1rem;
  }
}
