.hero {
  width: 50%;
  height: 100vh;
}

#herotext {
color:#40c218;
}

.herotoptext {
  font-size: 1rem;
  font-weight: 700;
  color: #40c218;
  margin-bottom: 1rem;
  position: absolute;
  top: 20%;
  left: 20px;
  transform: translateY(-50%);
  font-family: 'Open Sans', "sans-serif";
  width: 55%;
  font-style: italic;
  margin-left: 1cm;
}

// .banner {
//   background-size: cover;
//   background-position: center;
//   padding: 150px 0;
// }

// // .banner h1 {
// //   margin: 0;
// //   color: white;
// //   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
// //   font-size: 32px;
// //   font-weight: bold;
// // }

// .banner p {
//   font-size: 20px;
//   color: white;
//   opacity: .7;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
// }
