body{
  margin-top:20px;
  background:#FFE7EB;
}
.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(#fedae0) !important;
  border-style: none !important;
}

.bg-c-green {
  background: linear-gradient(#fedae0)!important;
  border-style: none !important;
}

.bg-c-yellow {
  background: linear-gradient(45deg,#FFC2CC,#fedae0)!important;
  border-style: none !important;
}

.bg-c-pink {
  background: linear-gradient(45deg,#FFC2CC,#fedae0)!important;
  border-style: none !important;
}


#carded1 {
  border-radius: 30px !important;
  background-color: #fedae0;
  box-shadow: 0px !important;
  border-width: 0px;
  border-style: none !important;
  color: black !important;
}

#carded2 {

  border-radius: 30px !important;
  background-color: #fedae0 !important;
  color: black !important;
}

#carded3 {
  border-radius: 30px !important;
  background-color: #fedae0 !important;
  color: black !important;
}

#carded4 {
  border-radius: 30px !important;
  background-color: #fedae0 !important;
  color: black !important;
}

.custom-card  {
  border-radius: 55px;
  border: none;
  margin-bottom: 150px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

.custom-card  .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

#landingcards {
padding-bottom: 100px;
}

#value1 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 30px !important;
  padding-bottom: 20px;
padding-top: -10px;
padding-left: 10px;
padding-right: 10px;
}


#values {
  color: #ffffff;
  text-align: center;
}

#value2 {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 150px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 30px;
}
