.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.navbar {
  border-bottom: 1px solid rgb(232, 232, 232);
}



#search {
  display: flex;
  align-items: center;
  padding-right: 175px !important;
  margin-right: 120px;
}

#search input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  width: 250px;
}
.notification {
  position: absolute;
  top: -5px;
  right: -5px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.dropdown.open {
  border: 1px solid red;
}

.dropdown.open .dropdown-content {
  background-color: #f9f9f9;
}

.dropdown.open .notification {
  background-color: red;
}

.dropdown {
  position: relative;
  display: inline-block;
  justify-content: left;
}

.dropdown:not(.open) {
  border: 1px solid #ccc;
  border-radius: 8px;
}

.dropdown-btn {
  border: none;
  background-color: transparent;
  padding: 5px;
  border-radius: 10px;
  padding-left: 6px;
  padding-right: 6px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
