.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.navbar {
  border-bottom: 1px solid rgb(232, 232, 232);
  padding: 2px;
  height: 3em;
}

.notification {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}


.dropdown.open {
  border: 1px solid red;
}

.dropdown.open .dropdown-content {
  background-color: #f9f9f9;
}

.dropdown.open .notification {
  background-color: red;
}

.dropdown {
  margin-right: 2rem;
  position: relative;
  display: inline-block;
  justify-content: left;
}

.dropdown:not(.open) {
  // border: 1px solid #ccc;
  border-radius: 20px;
  // border-radius: 50%;
  height: 30px;
  margin-top: 5px;
}

.dropdown-btn {
  border: none;
  background-color: transparent;
  // padding: 5px 6px;
  padding: 3px 9px;
  border-radius: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.fa-regular {
  font-size: 19px
}
