.dropdown {
  position: relative;
  width: 100px;
  height: 60px;
  filter: url(#goo);

  &__face,
  &__items {
    background-color: $backgroundpink;
    padding: 14px;
    border-radius: 25px;
    width: 60px;
    color: #E22D06;
    border: solid #E22D06;
    border-width: 1px;
  }

  &__face {
    display: block;
    position: relative;
    padding-top: 5px;
  }

  &__items {
    margin: 0;
    position: absolute;
    right: 20px;
    top: 50%;
    width: 100%;
    border-top: none;
    list-style: none;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      right: 40%;
      height: 40px;
      width: 20px;
      background-color: $backgroundpink;
    }
  }

  &__arrow {
    border-bottom: 2px solid $bloodred;
    border-right: 2px solid $bloodred;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: right;
  }

  input {
    display: none;

    &:checked ~ .dropdown__items {
      top: calc(100% + 25px);
      visibility: visible;
      opacity: 1;
    }
    &:checked ~ .dropdown__face {
      border-bottom: none;
      }
  }
}

* {
  box-sizing: border-box;
}

svg {
  display: none;
}
