

#profiletitle {
  padding-left: 18px;
  font-size: 26px;
}

#biocard {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;

}

.profileinfo {
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  border-color: $royalblood;
}
