#search {
  input::placeholder {
    color: rgba(0,0,0,.55);
    opacity: 1; /* Firefox */
  }

  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(0,0,0,.55);
  }

  input::-ms-input-placeholder { /* Microsoft Edge */
   color: rgba(0,0,0,.55);
  }
}

#search {
  display: flex;
  align-items: center;
}


.search-icon {
  position: absolute;
  padding: 9px;
  margin-top: -21px;
  margin-left: 9px;
  font-size: 10px;
}

.fa-solid::before {
  font-size: 16px;
  color: $bloodred;
}

.fa-solid:hover {
  font-size: 16px;
  color: $white;
}

.search-placeholder {
  position: absolute;
  margin-top: -33px;
  margin-left: 7px;
  color: $bloodred;

}



#search input[type="text"] {
  border: 1px solid white;
  border-radius: 32px;
  padding: 5px 20px 5px 40px;
  width: 450px;
  height: 32px;
  background-color:#ffe5e9;;
  color: $bloodred;

}

#search input:hover {
  border-color: $bloodred;
}


.search-input:focus-visible {
outline: none !important;
}
