// External libraries
@import "bootstrap";
@import "font-awesome";

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// Your CSS partials
@import "components/landingcards";
@import "pages/index";
@import "components/index";
@import "components/post";
@import "components/postsdrop";
@import "components/footer";
@import "components/community";

// //body in all pages
body {
  overflow-x: hidden;
}

// Set titles color
h1, h2, h3, h4, h5, h6 {
  color: $bloodred;
  text-decoration: none;
}
