<h1>All Loops</h1>

<div class="communitygrid">
  <% @communities.each do |community| %>
    <div class="communitiescard card m-3" style="width: 18rem; height: 9rem;">
      <div class="card-body">
        <%= link_to community_path(community.id) do %>
          <h4 class="card-title"><%=community.title%></h4>
          <p class="card-text"><%=community.description%></p>
        <%end%>
      </div>
    </div>
  <% end %>
</div>

<div>
  <%= link_to my_communities_path, { class: "pathbtn btn mt-5" } do %>
    Back To My Loops
  <% end %>
</div>
