<h1>Popular Loops</h1>

<div class="row my-5 d-flex justify-content-start align-content-stretch">
  <% @communities.each do |community| %>
    <div class="communitiescard card m-3" style="width: 20rem; height: 10rem;">
      <div class="card-body">
        <%= link_to community_path(community.id) do %>
          <h4 class="card-title"><%=community.title%></h4>
          <p class="card-text"><%=community.description%></p>
        <%end%>
      </div>
    </div>
  <% end %>
</div>

<h1>Your Loops</h1>
<div class = "my-5">
<h4> <%= link_to "You've not subscribed to any Loops yet :c See all Loops?", communities_path %></h4>
</div>
